{% extends 'base.html.twig' %}

{% block title %}Наши клиенты{% endblock %}

{% block body %}
    <br>
    <br>
    <br>
    <h2>Наши клиенты</h2>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">id</th>
            <th scope="col">Логин</th>
            <th scope="col">Пароль</th>
            <th scope="col">Имя</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Дата рег.</th>
            <th scope="col">Пол</th>
            <th scope="col">Е-mail</th>
        </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <th scope="row">{{ client.id }}</th>
                <td>{{ client.login }}</td>
                <td>{{ client.password }}</td>
                <td>{{ client.firstname }}</td>
                <td>{{ client.lastname }}</td>
                <td>{{ client.createdAt|date("F jS \\a\\t g:ia") }}</td>
                <td>{{ client.sex }}</td>
                <td>{{ client.email }}</td>
                {#<td><a href="{{ path('remove_note', {'note': note.id}) }}" class="btn btn-warning">Delete</a></td>#}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
